* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;    
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
:root {
  --glavna-plava: #500e34;
  --siva-ivica: #ccc;
  --bela: #ffffff;
}